$color-yellow: #eaa81b
$color-red: #fe5f55

$padding-desktop: 100px
$padding-desktop-lg: 200px
$padding-tablet: 50px
$padding-phone: 20px

@mixin breakpoint($point)
    @if $point == desktop-lg
        @media (min-width: 1440px)
            @content
    @if $point == desktop
        @media (max-width: 1280px)
            @content
    @if $point == tablet
        @media (max-width: 900px)
            @content
    @if $point == phone
        @media (max-width: 599px)
            @content
    @if $point == desktop-revert
        @media (min-width: 901px)
            @content
ul
    margin: 0
    padding: 0
    list-style: none
a
    color: black
p
    margin: 0
button
    outline: none
    border: none
    cursor: pointer
input
    outline: none
*
    box-sizing: border-box

body,html
    width: 100%
    margin: 0
    font-family: '微軟正黑體'
    font-size: 16px
    @include breakpoint(desktop-lg)
        font-size: 16px
    @include breakpoint(phone)
        font-size: 12px

header
    width: 100%
    height: 30vh
    background: $color-yellow
    text-align: center
    display: grid
    grid-template-rows: 2fr 1fr
    align-items: center
    justify-content: center
    padding: 20px
.inputrow
    display: grid
    align-self: start
    grid-template-columns: 1fr 4fr 1fr
    width: 100%
    height: 35px
    overflow: hidden
    border-radius: 5px
.btn-setPosition
    font-size: 1.2rem
    display: flex
    align-items: center
    justify-content: center
.icon-target
    font-size: 1.5rem
.btn-search
    font-size: 1.2rem
    color: #bbb
    transition: color 0.3s
    cursor: initial
.input-search
    height: 100%
    padding: 5px 10px
    font-size: 1.2rem
.maintitle
    font-size: 3rem
    font-weight: 900
    letter-spacing: 2px
    @include breakpoint(tablet)
        font-size: 2.5rem
.subtitle
    font-size: 2rem
    font-weight: 900
    letter-spacing: 2px
    margin-bottom: 50px

.map
    width: 100%
    height: 70vh
    background: #aaa
.info
    display: grid
.station
    max-width: calc(90%-20px)
    padding: 50px $padding-desktop-lg
    text-align: center
    @include breakpoint(desktop-lg)
        padding: 50px $padding-desktop-lg
    @include breakpoint(desktop)
        padding: 50px $padding-desktop
    @include breakpoint(tablet)
        padding: 50px $padding-tablet
    @include breakpoint(phone)
        padding: 50px $padding-phone
.wrapper
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 20px
    @include breakpoint(tablet)
        grid-template-columns: minmax(300px, 1fr)

.card
    display: grid
    position: relative
    border-bottom: 5px solid $color-yellow
    overflow: hidden
    text-align: center
    &:hover
        .card__overlay
            background: rgba(0,0,0,0.2)
    @include breakpoint(tablet)
        grid-template-columns: 1fr 2fr
        height: 150px
        border-bottom: none
        border-right: 5px solid $color-yellow
.card__info
    position: relative
    padding: 20px
    height: 100%
    border-left: 1px solid #aaa
    border-right: 1px solid #aaa
    border-top: none
    border-bottom: none
    @include breakpoint(tablet)
        height: 150px
        border-top: 1px solid #aaa
        border-bottom: 1px solid #aaa
        border-right: none
        border-left: none
        text-align: left
        padding: 10px

.card__img__wrapper
    position: relative
    overflow: hidden
    height: 100%
    width: 100%
    @include breakpoint(tablet)
        height: 150px
.card__img
    width: 100%
    height: 100%
    object-fit: cover
    background: #aaa
    //before,after element not working on <img> tag
.card__overlay
    position: absolute
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.0)
    display: flex
    align-items: center
    justify-content: center
    transition: background 0.3s
.btn-map
    position: absolute
    outline: none
    left: 10px
    top: 10px
    width: 3rem
    height: 3rem
    background-color: $color-red
    border: none
    border-radius: 50%
    cursor: pointer
    @include breakpoint(desktop-revert)
        display: block
    @include breakpoint(tablet)
        display: none
.btn-map-mobile
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: 5px 0px
    text-align: center
    background: $color-red
    display: none
    @include breakpoint(tablet)
        display: block
.card__title
    margin-bottom: 10px
    font-size: 1.2rem
    font-weight: 900
.card__position
    margin-bottom: 10px
.card__bikenum


.map__info__title
    font-size: 1.2rem
.mapmarker
    color: $color-yellow
    font-size: 2rem
.btnactive
    cursor: pointer
    color: #000

.foot
    font-size: 1.2rem
    display: grid
    align-content: center
    justify-content: center
    margin-top: 50px
    width: 100%
    height: 10vh
    background: $color-yellow
