doctype html
head
    meta(charset='UTF-8')
    title 新竹Youbike站點查詢
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="icon" type="image/png" href="images/icon.png")
    link(rel='stylesheet', type='text/css', media='screen', href='style.css')
body
    #app
        header
            .maintitle 新竹 Ubike 站點查詢
            .inputrow
                button.btn-setPosition(v-on:click="myPosition()")
                    i.icon-target.fa.fa-compass

                input.input-search(placeholder="選擇站點" type="text" name="station" list="stationname" v-model="inputVal" )
                datalist#stationname
                    option(v-for="n in bikedata" :value="n.name")
                button.btn-search(v-on:click="searchStation" v-bind:class="{btnactive: checkinput }" :disabled="!checkinput")
                    i.fa.fa-search
        #map.map
        section.station
            .subtitle 站點總覽
            ul.wrapper
                li.card(v-for="n in bikedata")
                    .card__img__wrapper
                        .card__overlay
                            button.btn-map( v-on:click="setCenter(n.lat, n.lng)")
                                i.mapmarker.fa.fa-map-marker
                        img.card__img(:src="n.imgurl")
                    .card__info
                        .card__title {{n.name}}
                        .card__position {{n.position}}
                        .card__bikenum 車柱數 : {{n.bikenum}}
                        button.btn-map-mobile( v-on:click="setCenter(n.lat, n.lng)")
                            i.mapmarker.fa.fa-map-marker
        footer.foot
            p 資料來源 :
                span
                    a(href="http://opendata.hccg.gov.tw/" target="_blank")  新竹市開放資料平台
        a.btn-toTop(href="#app" v-show="scrollTop")
            i.fa.fa-arrow-up

    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg-SqPymvYnN9uBRZlJ267CqTOrWOL4U8&&libraries")
    script(type="text/javascript" src="./bikedatas.json")
    script(src='index.js')