<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>MITALENT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css">
</head>
<body>
  <div id="app">
    <header>
      <div class="maintitle">新竹 Ubike 站點查詢</div>
      <div class="inputrow">
        <button class="btn-setPosition" v-on:click="myPosition()"><i class="icon-target fa fa-compass"></i></button>
        <input class="input-search" placeholder="選擇站點" type="text" name="station" list="stationname" v-model="inputVal">
        <datalist id="stationname">
          <option v-for="n in bikedata" :value="n.name"></option>
        </datalist>
        <button class="btn-search" v-on:click="searchStation" v-bind:class="{btnactive: checkinput }" :disabled="!checkinput"><i class="fa fa-search"></i></button>
      </div>
    </header>
    <div class="map" id="map"></div>
    <section class="station">
      <div class="subtitle">站點總覽</div>
      <ul class="wrapper">
        <li class="card" v-for="n in bikedata">
          <div class="card__img__wrapper">
            <div class="card__overlay">
              <button class="btn-map" v-on:click="setCenter(n.lat, n.lng)"><i class="mapmarker fa fa-map-marker"></i></button>
            </div><img class="card__img" :src="n.imgurl">
          </div>
          <div class="card__info">
            <div class="card__title">{{n.name}}</div>
            <div class="card__position">{{n.position}}</div>
            <div class="card__bikenum">車柱數 : {{n.bikenum}}</div>
            <button class="btn-map-mobile" v-on:click="setCenter(n.lat, n.lng)"><i class="mapmarker fa fa-map-marker"></i></button>
          </div>
        </li>
      </ul>
    </section>
    <footer class="foot">
      <p>資料來源 :<span><a href="http://opendata.hccg.gov.tw/" target="_blank"> 新竹市開放資料平台</a></span></p>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg-SqPymvYnN9uBRZlJ267CqTOrWOL4U8&amp;&amp;libraries"></script>
  <script type="text/javascript" src="./bikedatas.json"></script>
  <script src="index.js"></script>
</body>