doctype html
head
    meta(charset='UTF-8')
    title MITALENT
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', media='screen', href='style.css')
    //script(src='index.js')
body
    #app
        button.btn-setPosition(v-on:click="myPosition()") 我的位置
        #map.map
        ul.wrapper
            li.card(v-for="n in bikedata")
                .card__img__wrapper
                    .card__overlay
                        button 前往地圖
                    img.card__img(:src="n.imgurl")
                .card__info
                    .card__title {{n.name}}
                    .card__position {{n.position}}
                    .card__bikenum 車柱數 : {{n.bikenum}}

    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg-SqPymvYnN9uBRZlJ267CqTOrWOL4U8&&libraries")
    script(src='index.js')