@charset "UTF-8";
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: black; }

p {
  margin: 0; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

input {
  outline: none; }

* {
  box-sizing: border-box; }

body, html {
  width: 100%;
  margin: 0;
  font-family: '微軟正黑體';
  font-size: 16px; }
  @media (min-width: 1440px) {
    body, html {
      font-size: 16px; } }
  @media (max-width: 599px) {
    body, html {
      font-size: 12px; } }

header {
  width: 100%;
  height: 30vh;
  background: #eaa81b;
  text-align: center;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 20px; }

.inputrow {
  display: grid;
  align-self: start;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
  height: 35px;
  overflow: hidden;
  border-radius: 5px; }

.btn-setPosition {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.icon-target {
  font-size: 1.5rem; }

.btn-search {
  font-size: 1.2rem;
  color: #bbb;
  transition: color 0.3s;
  cursor: initial; }

.input-search {
  height: 100%;
  padding: 5px 10px;
  font-size: 1.2rem; }

.maintitle {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px; }
  @media (max-width: 900px) {
    .maintitle {
      font-size: 2.5rem; } }

.subtitle {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 50px; }

.map {
  width: 100%;
  height: 70vh;
  background: #aaa; }

.info {
  display: grid; }

.station {
  max-width: calc(90%-20px);
  padding: 50px 200px;
  text-align: center; }
  @media (min-width: 1440px) {
    .station {
      padding: 50px 200px; } }
  @media (max-width: 1280px) {
    .station {
      padding: 50px 100px; } }
  @media (max-width: 900px) {
    .station {
      padding: 50px 50px; } }
  @media (max-width: 599px) {
    .station {
      padding: 50px 20px; } }

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px; }
  @media (max-width: 900px) {
    .wrapper {
      grid-template-columns: minmax(300px, 1fr); } }

.card {
  display: grid;
  position: relative;
  border-bottom: 5px solid #eaa81b;
  overflow: hidden;
  text-align: center; }
  .card:hover .card__overlay {
    background: rgba(0, 0, 0, 0.2); }
  @media (max-width: 900px) {
    .card {
      grid-template-columns: 1fr 2fr;
      height: 150px;
      border-bottom: none;
      border-right: 5px solid #eaa81b; } }

.card__info {
  position: relative;
  padding: 20px;
  height: 100%;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa; }
  @media (max-width: 900px) {
    .card__info {
      height: 150px;
      border: 1px solid #aaa;
      text-align: left;
      padding: 10px; } }

.card__img__wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%; }
  @media (max-width: 900px) {
    .card__img__wrapper {
      height: 150px; } }

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #aaa; }

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s; }

.btn-map {
  position: absolute;
  outline: none;
  left: 10px;
  top: 10px;
  width: 3rem;
  height: 3rem;
  background-color: #fe5f55;
  border: none;
  border-radius: 50%;
  cursor: pointer; }
  @media (min-width: 901px) {
    .btn-map {
      display: block; } }
  @media (max-width: 900px) {
    .btn-map {
      display: none; } }

.btn-map-mobile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  background: #fe5f55;
  display: none; }
  @media (max-width: 900px) {
    .btn-map-mobile {
      display: block; } }

.card__title {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 900; }

.card__position {
  margin-bottom: 10px; }

.map__info__title {
  font-size: 1.2rem; }

.mapmarker {
  color: #eaa81b;
  font-size: 2rem; }

.btnactive {
  cursor: pointer;
  color: #000; }

.foot {
  font-size: 1.2rem;
  display: grid;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  height: 10vh;
  background: #eaa81b; }
